.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logincard{
    background-color: #FFFFFF;
    width:25em;
    height: 36em;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 10%);
     
}
.header{
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding:3em;
    background-color: #57B846;
    color:white;
    /* font-size: 1.5em; */
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}










.data{
    display: block;
    margin: 1em 1em 0em 3em;
    border-radius: 23px;
    border: none;
    background-color: #EBEBEB;
    width:17em;
    /* 20em; */
    height: 3em;
    padding:1em
}
.data:focus{
    width: 20em;
    transition: 1s;
}
.data:enabled{
    border: none;
    outline: none;
}
.submit{
    
    margin: 1em 1em 0em 3em;
    border-radius: 23px;
    border: none;
    background-color:#57B846;
    width:17em;
    height: 3em;
    /* padding:1em; */
    text-align: center;
    color:#FFFFFF
}
.submit:hover{
    background-color: black;
}
.footer{
margin: 5em 1em 0em 7em;
}
.signup{
    text-decoration: none;
    margin-left: 1.5em;
    color:#57B846;
    font-weight: bold;
}
.signup:hover{
    color:black;
}
.eye{
  display: inline-block;
  margin: 0.7em 1em 0em 7em;
  font-size: 10px;
  color: #57B846;
}
.hide{
    display: inline-block;
    color: #57B846;
}


@media (max-width:600px){
    .logincard{
        width:20em;
    } 
    .data{
        width: 14em;
        margin-left: 1em;
    }
    .data:focus{
        width:17em;
    }
    .eye{
        margin-left: 3em;
    }
    .submit{
        margin-left: 1em;
    }
    .footer{
        margin-left: 5em;
    }
}



































